BODY {
	font-family:sans-serif;
	background:#EEEEFF;
	color:#101010;
	margin-top:80px;
}

NAV {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	color:#fff;
	background: #4c4c4c; /* Old browsers */
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow: 0 3px 5px #000000;
	-webkit-box-shadow: 0 3px 5px #000000;
	box-shadow: 0 3px 5px #000000;
}
NAV H1 {
	font-size:14pt;
	margin:3px;
	padding:0;
	float:left;
	width:10%;
}
NAV {
	padding:5px;
}
NAV UL {
	margin:0;
	padding:0;
}
NAV UL LI {
	list-style:none;
	border-radius:5px;
	padding:5px;
	margin:0 10px 0 0;
	float:left;
	width:100px;
	text-align:center;
	box-shadow: 0 1px 3px RGBA(0,0,0,0.5);
}
NAV UL LI A {
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
NAV UL LI.add {
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
NAV UL LI.delete {
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #990303 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#990303)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#990303 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#990303 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#990303 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#990303 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#990303',GradientType=0 ); /* IE6-9 */

}
NAV UL LI:last-child {
	margin-right:0;
}

TABLE {
	width:80%;
	margin:0 auto;
	border-spacing:0;
	display:none;
}
THEAD TR TH {
	border-spacing:0;
	border-bottom:3px #c0c0c0 solid;
}
TBODY TR TD {
	border-bottom:2px #c0c0c0 solid;
	border-spacing:0;
	padding:10px;
}
THEAD TR TH:first-child {
	width:60%;
}
TBODY TR.dark TD {
	background:#e0e0e0;
}
TD SPAN {
	padding:8px;
	border-radius:5px;
	font-size:12pt;
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
	margin-right:5px;
}
#addBox {
	display:none;
	background:RGBA(0,0,0,0.8);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#addBox > DIV {
	width:50%;
	height:250px;
	border-radius:5px;
	padding:10px;
	background:#fff;
	margin:150px auto;
}
#addBox > DIV LABEL {
	margin:5px auto;
	width:90%;

}
#addBox > DIV LABEL SPAN {
	font-size:11pt;
	font-style: italic;
}
#addBox > DIV LABEL, #addBox > DIV LABEL INPUT, #addBox LABEL SELECT, #addBox BUTTON {
	display:block;
	clear:both;
}
#addBox > DIV LABEL INPUT, #addBox LABEL SELECT, #addBox BUTTON {
	width:100%;
	font-size:14pt;
	padding:5px;
}
.show {
	display:block !important;
}
TABLE TBODY TR.selected TD {
	background:#ccDDFF;
}
